.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

h1, .h1 {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto",Arial,sans-serif;
  color: #353e44;
  }

  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

.home-header{
    background-image: url("large.jpg");
    background-size: cover;
    display: block;
    width: 100%;
    height: 500px;
}

.home-link{
    margin: 20px;

}

.right{
    position: absolute;
    right: 20px;
    top:20px;
}

.dropdown-menu{
    color: #0067db;
    font-size: 12px;
    font-weight: 300;
    left: -210px;
    padding: 24px;
    text-align: left;
    white-space: normal;
    width: 264px;
}

.ValueProps__item {
    width: 33.33%;
    text-align: center;
    color: #fff;
    font-size: calc(9.567999px - -1 * (1vw - 767px / 100) * .6521009603841537);
}

.ValueProps {
    width: 100%;
    padding-bottom: 16px;
}

.ValueProps__list {
    display: -webkit-box;
    display: flex;
    list-style-type: none;
}

.ValueProps__title {
    color: #fff;
    margin-bottom: 0;
    line-height: normal;
    font-size: 1.5em;
    display: block;
}

.ValueProps__blurb {
    font-size: .9vw;
    display: block;
}

.flexitem{
    display: flex;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    padding: 10px 0px;
}

.boxed{
    border: 1px solid green;
}

.form-header{
    font-size: 27px;
    padding-top: 20px;
}
.form-footer{
    text-align: center;
    font-size: 10px;
}

.bg-grey{
    background-color:#F2F2F2;
}

.form-body{
    background-color: white;
    margin:auto;
    padding:10px;
    border: 1px solid #e6e6e6;
    width: 300px;
}

.btn-primary{
    background-color: orange;
}

.navbar{
    height: 50px;
    padding: 5px;
}

.nav-link {
    color: white;
    background-color: transparent;
}
.navbar-brand{
    width:auto;
    padding:auto;
    height: 50px;
}

.nav-item{
    margin:auto;
    height: 10px;
    padding: 10px;
}

.flex-it{
    display: flex;
    justify-content: space-evenly;
}

.card-body{
    padding: 0.1rem;
}

.card{
    border:0px;
}

.card-footer{
    padding: .05rem;
    border:0px;
}

.list-property{
    background-image:url('//cms.homeaway.com/files/live/sites/hub/files/contributed/homepage/marketing/list-your-property.jpg');
    background-size: cover;
    display: block;
    width: 100%;
    height: 490px;
    text-align: center;
    
}

.flex-container{
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    width: 100%;
    height: 360px;
    background-image:url('//cms.homeaway.com/files/live/sites/hub/files/contributed/homepage/marketing/list-your-property.jpg');
    opacity: 0.80;
  }

.list-property-header{
    color: #F2F2F2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    text-align: center;
}

.page-footer{
    background-color: #353e44;
}


